{% assign lang_name = site.data.l10n.lang_name %}
{% if lang_name ==  'English'%}
<ul class="visible-links">
      {%- for link in site.data.en.navigation.main -%}
        <li class="masthead__menu-item">
          <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
        </li>
      {%- endfor -%}
      {%- include lang-switcher-head.html -%}
</ul>
{% else %}
    {% if lang_name ==  'Slovenský' %}
<ul class="visible-links">
      {%- for link in site.data.sk.navigation.main -%}
        <li class="masthead__menu-item">
          <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>  
        </li>
      {%- endfor -%}
      {%- include lang-switcher-head.html -%}
</ul>
    {% endif %}
{% endif %}



